$banner-bg: url("../images/banner.jpg");
$article-1-bg: url("../images/pic01.jpg");
$article-2-bg: url("../images/pic02.jpg");
$article-3-bg: url("../images/pic03.jpg");
$article-4-bg: url("../images/pic04.jpg");
$article-5-bg: url("../images/pic05.jpg");
$article-6-bg: url("../images/pic06.jpg");

$article-1-bg-color: rgba(103, 174, 201, 0.9);
$article-2-bg-color: rgba(127, 119, 180, 0.9);
$article-3-bg-color: rgba(144, 159, 212, 0.9);
$article-4-bg-color: rgba(217, 180, 149, 0.9);
$article-5-bg-color: rgba(154, 171, 219, 0.9);
$article-6-bg-color: rgba(139, 192, 197, 0.9);